body {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
}

.card {
  margin: 10px;
}

.img-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  text-shadow: black 3px 3px 2px;
  height: 400px;
  background-image: url(../img/gato-de-perfil-2.png);
  background-size: cover;
  background-position: center;
}

.img-principal h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 10px;
}

.img-principal p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-left: 10px;
}