body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar,
.banner,
main {
    width: 100%;
}

.navbar {
    box-shadow: black 0px 0px 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.main-description {
    flex-direction: column;
    width: 80%;
    text-align: center;
    /* text-shadow: rgb(255, 255, 255) 0px 0px 3px; */
}

.sin-bg {
    background-color: #CDF0EA;
}

.sin-bg2 {
    background-color: #b1ded7;
}

.bg1 {
    height: 700px;
    background-image: url(../img/kitty-cats-on-the-pillow.jpg);
    background-size: cover;
    background-position: center;
}

/* Cards */
.tarjetas {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.card img{
    width: 100%
}

/* banners */
.banner {
    display: flex;
    align-items: center;
   
    height: 100vh;
    color: whitesmoke;
    text-shadow: black 3px 3px 2px;
}

.banner h1 {
    font-size: 70px;
}

.banner p {
    font-size: 30px;
}

.banner-description {
    margin-left: 20px;
}

.banner-index {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: top;
}

.banner-corto {
    background-image: url(../img/banner-pelo-corto.jpg);
    background-size: cover;
    background-position: center;
}

.banner-medio {
    background-image: url(../img/grey-kitty-with-monochrome-wall-behind-her.jpg);
    background-size: cover;
    background-position: top;
}

.banner-largo {
    background-image: url(../img/banner-pelo-largo.jpg);
    background-size: cover;
    background-position: center;
}

.big-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* margin: 10px; */
    padding: 10px;
    /* border-radius: 5px; */
}

.texto1 {
    background-color: #E9DAC1;
}

.texto2 {
    flex-direction: column;
    background-color: #F7ECDE;
}

.container {display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.razas-container h2{
    text-align: center;
    font-size: 24px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color:cadetblue;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* razas container */

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.razas-container {
    flex-direction: row;
    max-width: 302px;
    margin: 10px;
    border-radius: 5px;
    border: gray 0.5px solid;
    background-color: #CDF0EA;
    
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.razas-container:hover {
    -webkit-box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.47);
}

.razas-container img {
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

iframe {
    width: 300px;
    height: 200px;
}

/* Media Queries */

@media screen and (min-width: 850px) {
    .main-container {
        width: 80%;
    }

    iframe {
        width: 600px;
        height: 450px;
    }
}