body {
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

/* ----------- Cards ---------------- */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-group {
  margin: 10px;
}


/* ----------- Banner ---------------- */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  text-shadow: black 3px 3px 2px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin-left: 20px;
}

.banner p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

.banner-index {
  background-image: url(../img/beautiful-domestic-cat-lying-on-fence-3.jpg);
}

.banner-clasificacion {
  background-image: url(../img/imgPrincipal.jpg);
}

/* ----------- Contenido Principal ---------------- */

.cont-principal {
  max-width: 70%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main-container p {
  font-size: 20px;
}

.description {
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 10px;
}

.info-container {
  margin-top: 20px;
}

/* h2 {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
} */

/* ----------- Footer ---------------- */

footer {
  display: flex;
  justify-content: center;
  background-color:cadetblue;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}